.container-list-footer {
  display: flex;
  padding: 30px 10px 10px 5px;
  justify-content: center;
}
.list-footer {
  margin: 0 100px 100px 0;
}

.list-footer-start {
  margin-left: 10px;
}

.footer-li {
  height: 40px;
  padding: 40px;
  color: white;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(114, 110, 110);
}

#imgLogo {
  margin-top: 40px;
  margin-bottom: 40px;
}
@media only screen and (min-width: 270px) and (max-width: 469px) {
  .list-footer-start {
    padding-left: 50px;
  }
  #span-up {
    display: none;
    font-size: 8px;
  }
  #span-down {
    display: block;
    font-size: 8px;
  }
}
@media only screen and (min-width: 470px) and (max-width: 2769px) {
  #span-up {
    display: block;
    font-size: 12px;
  }
  #span-down {
    display: none;
    font-size: 8px;
  }
}
