<header class="navbar" [ngClass]="{ 'navbar-fixed': isFixedNavbar }">
  <div class="container" fxLayout="row wrap" fxLayoutAlign="start center">
    <div
      class="navbar-mobile-top"
      fxLayout="row"
      fxLayoutWrap="wrap"
      fxLayoutAlign="start center"
    >
      <button
        mat-icon-button
        color="white"
        class="navbar-toggle"
        (click)="toggleNavbar()"
      >
        <mat-icon>{{ !navbarOpened ? "menu" : "close" }}</mat-icon>
      </button>
    </div>
    <img
      src="../../../assets/images/africa-icon-20.jpg"
      height="50px;"
      width="50px"
      id="imgLogo"
    />

    <div fxFlex class="top-navbar">
      <span fxFlex></span>
      <a class="navbartop-btn-a" routerLink="home" id="HakunaLogo"
        >Hakuna Taka Taka</a
      >
      <a mat-button class="navbartop-btn" routerLink="home"
        ><strong>Home</strong></a
      >
      <a mat-button class="navbartop-btn" href="#serviceTitle"
        ><strong>Services</strong></a
      >
      <a mat-button class="navbartop-btn" routerLink="mission"
        ><strong>Mission</strong></a
      >
      <a mat-button class="navbartop-btn" routerLink="contact"
        ><strong>Contact</strong></a
      >
    </div>
  </div>
</header>
