<header class="navbar" [ngClass]="{ 'navbar-fixed': isFixedNavbar }">
  <div class="container" fxLayout="row wrap" fxLayoutAlign="start center">
    <div
      class="navbar-mobile-top"
      fxLayout="row"
      fxLayoutWrap="wrap"
      fxLayoutAlign="start center"
    >
      <button
        mat-icon-button
        color="white"
        class="navbar-toggle"
        (click)="toggleNavbar()"
      >
        <mat-icon>{{ !navbarOpened ? "menu" : "close" }}</mat-icon>
      </button>
    </div>
    <img
      src="../../../assets/images/hakuna-logo.png"
      height="50px;"
      width="50px"
      id="imgLogo"
    />

    <div fxFlex class="top-navbar">
      <span fxFlex></span>
      <a routerLink="home" class="hakuna-logo"
        ><img
          src="../../../assets/images/hakuna-logo.png"
          height="50px"
          width="50px"
          id="imgLogoInside"
      /></a>
      <a mat-button class="navbartop-btn" routerLink="home" id="nav-link_hakuna"
        ><strong>Home</strong></a
      >
      <a
        mat-button
        class="navbartop-btn"
        href="#serviceTitle"
        id="nav-link_hakuna"
        ><strong>Services</strong></a
      >
      <a
        mat-button
        class="navbartop-btn"
        routerLink="mission"
        id="nav-link_hakuna"
        ><strong>Mission</strong></a
      >
      <a
        mat-button
        class="navbartop-btn"
        routerLink="contact"
        id="nav-link_hakuna"
        ><strong>Contact</strong></a
      >
    </div>
  </div>
</header>
