<div class="container-mission">
  <div class="title"><b>Gallery</b></div>
  <div class="gallery-container">
    <div class="gallery">
      <ul>
        <li>A</li>
        <li>B</li>
        <li>C</li>
        <li>D</li>
        <li>E</li>
        <li>6</li>
        <li>7</li>
        <li>8</li>
        <li>9</li>
      </ul>
      <ul>
        <li>A</li>
        <li>B</li>
        <li>C</li>
        <li>D</li>
        <li>E</li>
        <li>6</li>
        <li>7</li>
        <li>8</li>
        <li>9</li>
      </ul>
      <ul>
        <li>A</li>
        <li>B</li>
        <li>C</li>
        <li>D</li>
        <li>E</li>
        <li>6</li>
        <li>7</li>
        <li>8</li>
        <li>9</li>
      </ul>
      <ul>
        <li>A</li>
        <li>B</li>
        <li>C</li>
        <li>D</li>
        <li>E</li>
        <li>6</li>
        <li>7</li>
        <li>8</li>
        <li>9</li>
      </ul>
      <ul>
        <li>A</li>
        <li>B</li>
        <li>C</li>
        <li>D</li>
        <li>E</li>
        <li>6</li>
        <li>7</li>
        <li>8</li>
        <li>9</li>
      </ul>
      <ul>
        <li>A</li>
        <li>B</li>
        <li>C</li>
        <li>D</li>
        <li>E</li>
        <li>6</li>
        <li>7</li>
        <li>8</li>
        <li>9</li>
      </ul>
    </div>
  </div>
  <div class="divisor-mission-top"></div>
  <div class="title-bin"><b>Bin Example</b></div>
  <div class="bin-example">
    <div class="bin-one">
      <figure>
        <img />
      </figure>
      <div class="polaroid">
        <img
          src="https://res.cloudinary.com/dp6zlazyt/image/upload/v1631347966/HakunaTakaTaka/hakuna-img-07_gnc9gq.jpg"
          alt=""
          width="100%"
        />
        <div class="container"></div>
      </div>
    </div>
    <div class="bin-one">
      <figure>
        <img />
      </figure>
      <div class="polaroid">
        <img
          src="https://res.cloudinary.com/dp6zlazyt/image/upload/v1631347966/HakunaTakaTaka/hakuna-img-06_wklorj.jpg"
          alt=""
          width="100%"
        />
        <div class="container"></div>
      </div>
    </div>
    <div class="bin-one">
      <figure>
        <img />
      </figure>
      <div class="polaroid">
        <img
          src="https://res.cloudinary.com/dp6zlazyt/image/upload/v1631347966/HakunaTakaTaka/hakuna-img-06_wklorj.jpg"
          alt=""
          width="100%"
        />
        <div class="container"></div>
      </div>
    </div>
  </div>
  <div class="divisor-mission-bottom"></div>
  <div class="mission-end-part">
    <div class="text-mission">
      <div class="title" style="font-size: 20px">Mission</div>
      <div class="text-mission-box">
        To impart knowledge to communities on sustainable waste management
        practices as well as facilitate the production of concrete
        <b>garbage bins</b>
        for easy and <i>sustainable</i> waste management.
      </div>
    </div>
    <div class="text-mission">
      <div class="title" style="font-size: 20px">Vision</div>
      <div class="text-mission-box">
        To see safe and clean communities supplied with enough waste management
        infrastructures and knowledgeable on <b>reusing</b>,<b>reducing</b> and
        <b>recycling</b> of wastes for <i>safe</i> sustainable communities.
      </div>
    </div>

    <div class="text-mission">
      <div class="title" style="font-size: 20px">Values</div>
      <div class="text-mission-box">
        Be there by making sure you are aware of your surrounding and its
        <b>sustainable</b> needs
      </div>
    </div>
  </div>

  <!-- END MISSION  -->
  <!-- <div class="end-mission-content">
    <div class="container-box">
      <div class="box"></div>
    </div>
  </div>
</div> -->
</div>
