.divisor {
  height: 50px;
  width: 100%;
  background-color: #000000;
}

.footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #5b849d;
  margin-top: 25px;
  width: 100%;
  padding-top: 25px;
  box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
}

.container {
  height: 2165px;
  background-color: white;
}
@media only screen and (max-width: 970px) {
  .container {
    height: 4323px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    height: 4623px;
  }
}

@media only screen and (min-width: 270px) and (max-width: 469px) {
  .container {
    height: 4272px;
  }
}
